RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

# SP BEGIN php handler
<IfModule mod_fcgid.c>
          AddHandler fcgid-script .php .php5 .php7 .phtml
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php74 .php
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php74 .php5
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php74 .php7
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php74 .phtml
</IfModule>
# SP END php handler

